*{
   margin: 0px;
   padding: 0px;
}
.container{
   box-sizing: border-box;
   padding: 30px 30px;
   display: flex;
   justify-content: center;
}
.bar_logo h1{
   font-size: 40px;
   font-weight: bold;
   text-shadow:  3px 3px 0px #bdbdbd;
}
.bar_logo h3{
   box-sizing: border-box;
   margin-top: -30px;
   margin-left: 150px;
   font-size: 20px;
}
.bar_menu{
   list-style: none;
   text-align: center;
   width: 50%;
   display: flex;
   justify-content: space-around;
}
.bar_menu a{
   text-decoration-line: none;
   color: black;
}
.bar_menu li{
   margin-top: 30px;
}
li :hover{
  color:#9cd5ee; 
  font-weight: bold;
  transition: 0.3s;
}
.bar_userimg{
   width: 30px;
   height: 30px;
   border-radius: 70px;
   background-color: #bdbdbd;
}
.bar_userimg i{
  padding-left: 8px;
  padding-top: 5px;
}
.bar_login{
   margin-top: 30px;
   margin-right: 5px;
   width: 90px;
   height:25px;
   background-color:#D2EEFA;
   border-radius: 8px;
   text-align: center;
}
.bar_login a{
   text-decoration-line: none;
   color: black;
}
.bar_join{
   margin-top: 30px;
   width: 90px;
   height:25px;
   background-color:#D2EEFA;
   border-radius: 8px;
   text-align: center;
}
.bar_join a{
   text-decoration-line: none;
   color: black;
}
.page_menu{
   text-align: center;
   font-size: 180%;
   float: left;
   width: 30%;
}
.page_menu a{
   text-decoration-line: none;
   color: black;
}
.page_menu img{
   margin-top: 10%;
   width:80px;
   height:80px;
   border-radius: 70%;
}
.page_menu dd {
   margin-top: 20px;
   font-size: 70%;
   
}
.page_menu dd :hover{
   margin-top: 20px;
   color:#9cd5ee; 
   font-weight: bold;
   transition: 0.3s;
}
.booking_schedule{
   margin-left: 10%;
   font-size: 180%;
   float: right;
   width: 70%;
}
.booking_schedule dd{
   border:1px solid; 
   padding:10px;
   font-size: 70%;
   margin-top: 10%;
   text-decoration-line: none;
   color: black;
   width: 80%;
}
.booking_schedule img{
   font-size: 180%;
   float: left;
   width: 20%;
   margin-right: 10%;
   width: 80px;
   height:80px;
}
.dday {
   font-size: 70%;
   font-weight: bold;
   width: 20%;
}