/* 전체 스타일 */
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 /* 네비게이션 */
 header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #eee;
 }
 div.logo {
   margin-right: auto; /* div.logo를 왼쪽에 위치시키고, 오른쪽에 margin을 주어 너비가 자동으로 조절될 수 있도록 합니다. */
   display: flex;
   align-items: center;
   padding: 10px 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 div.logo h1 {
   padding-right: 10px;
 }
 nav {
   box-sizing: border-box;
   line-height: 50px;
   text-align: center;
   flex: 1; /* nav 요소가 div.logo와 동일한 너비를 가지도록 합니다. */
 }
 nav ul {
   font-weight: bold;
   list-style: none;
   margin: 0;
   padding: 0;
   height: 60px;
 }

 nav li {
   display: inline-block;
   margin: 0 10px;
   padding: 0;
 }
 nav a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: #333;
 }
 nav a:hover {
   background-color: #333;
   color: #fff;
 }
 .btn{
   display: inline-block;
   padding: 12px 24px;
   background-color: white;
   border-radius: 15px;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-right: 10px;
 }
 .btn a{
   text-decoration: none;
   color: black;
 }
 .side_menu{
   width: 400px;
    display: grid;
    grid-template-areas: 
    "side_menu"
    "side_menu1"
    "side_userimg"
    "side_id";
 }
.side_menu1{
   display: flex;
   font-size: 35px;
   padding-left: 180px;
   padding-top: 200px;
   font-weight: bolder;
}
.side_userimg{
    border-radius: 80px;
    background-color: #bdbdbd;
    padding-left: 25px;
    padding-top: 10px;
    margin-left: 205px;
    height: 90px;
    width: 80px;
}
.side_userimg a i{
    color: black;
}
.side_id{
    padding-top: 50px;
    font-size: 30px;
}
.side_list{
   margin-left: 170px;
   margin-top: 120px;
}
.side_list1{
    display: flex;
    list-style: none;
    float: left;
    flex-direction: column;
    gap: 100px;
    text-align: center;
}
.side_list ul li a{
    color: black;
    text-decoration: none;
}
.side_menu li :hover{
    color:#9cd5ee; 
    font-weight: bold;
    transition: 0.3s;
}
.unregister{
    text-align: center;
    box-sizing: border-box;
    /* padding: 45px 250px; */
    margin-top: -583px;
    margin-left: 451px;
    width: 800px;
 }
.user_id p{
  font-size: 20px;
  position: relative;
  left: -257px;
  top: 71px;

 }
 .user_id input{
    width : 30%;
    padding: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 3px solid #d2d0d0;
    margin-top:20px;
    margin-right: -150px;
 }
.discomfort p{
    font-size: 20px;
    position: relative;
    left: -250px; top: 50px;
 }
 .discomfort input,.discomfort input:hover{
    display: inline-block;
    width: 50px;
    line-height: 50px;
    box-sizing: border-box;
    margin-top: 70px;
    cursor: pointer;
 }
 
 .discomfort textarea{
  display: flex;
  justify-content: space-around;
  margin-left: 236px;
  margin-top: 30px;
  border: 3px solid #d2d0d0;
  border-radius: 5px;
 }
.botton a{
   position: relative;
   top: 30px;
   box-sizing: border-box;
   width: 90px;
   color: black;
   background-color: #D2EEFA;
   border-radius: 5px;
   display: inline-block;
   padding: 5px;
   text-decoration: none;
}