*{
   margin: 0px;
   padding: 0px;
}
a{
   text-decoration-line: none;
}
.header_container{
   box-sizing: border-box;
   padding: 30px 30px;
   display: flex;
   justify-content: center;
}
.header a{
   color: black;
}
.bar_logo h1{
   font-size: 40px;
   font-weight: bold;
   text-shadow:  3px 3px 0px #bdbdbd;
}
.bar_logo h3{
   box-sizing: border-box;
   margin-top: -30px;
   margin-left: 150px;
   font-size: 20px;
}
.bar_menu{
   list-style: none;
   text-align: center;
   width: 50%;
   display: flex;
   justify-content: space-around;
}
.bar_menu a{
   color: black;
}
.bar_menu li{
   margin-top: 30px;
}
.bar_menu li :hover{
  color:#9cd5ee; 
  font-weight: bold;
  transition: 0.3s;
}
.bar_userimg{
   width: 30px;
   height: 30px;
   border-radius: 70px;
   background-color: #bdbdbd;
    margin-top: 30px;
  margin-right: 5px;
}
.bar_userimg i{
  padding-left: 8px;
  padding-top: 5px;
  color: black;
}
#User{
   color: black;
}
.bar_logout , .bar_Mypage{
   margin-top: 30px;
   margin-right: 5px;
   width: 50px;
   height:25px;
   font-size: small;
   background-color:#D2EEFA;
   border-radius: 8px;
   text-align: center;
}
.bar_logout a,.bar_Mypage a{
   text-decoration-line: none;
   color: black;
}
.page_menu{
   text-align: center;
   font-size: 180%;
   float: left;
   width: 30%;
   margin-top: 73px;
}
.page_menu a{
  text-decoration-line: none;
  color: black;
}
.page_menu img{
  margin-top: 10%;
  width:80px;
  height:80px;
  border-radius: 70%;
}
.page_menu dd {
  margin-top: 40px;
  font-size: 70%;
}
.page_menu dd :hover{
  margin-top: 20px;
  color:#9cd5ee; 
  font-weight: bold;
  transition: 0.3s;
}
 .title{
   height: 50px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   margin-top: 72px;
   width: 200px;
 }
 .checklist_item {
   display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 70px;
    gap: 20%;
 }
 .checklist_item2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 90px;
    gap: 20%;
 }
 input:hover{
    cursor: pointer;
 }
 .memo{
   margin-top: 50px;
   margin-left: 550px;
 }
 .memo textarea{
    border-radius: 5px;
    padding: 5px;
    border: 3px solid #d2d0d0;
 }
 